<!-- Page Header -->

<header class="masthead"
    style="background-image: url('assets/own-img/persons-hand-on-black-and-white-braille-machine-3945363.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <div class="post-heading">
                    <div *ngIf="article ">

                        <h2 class="mb-2">{{article.title | uppercase}}</h2>
                        <span class="subheading">{{article.author.firstName}} {{article.author.lastName}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>


<article *ngIf="article ">
    <div class="container">
        <div class="row">
            <div class="mx-auto  col-lg-8 col-md-10 post-preview">
                <span [innerHTML]="article.content.trim()">
                </span>
                <button class="btn btn-sm text-danger"
                    *ngIf="auth.isModeratorOrAdmin || auth.user.id===article.author.id"
                    (click)="handleDelete()">Supprimer
                    l'article</button>

                <a class="btn btn-sm text-primary" *ngIf="auth.user.id===article.author.id || auth.isModeratorOrAdmin"
                    routerLink="/article/edition/{{article.slug}}">Modifier
                    l'article</a>
                <a href=""></a>
                <hr>
            </div>
        </div>

        <div class="row" *ngIf="!auth.hasRole('ROLE_SCHOOL')">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div *ngIf="comments.length>0" style="background-color: whitesmoke;padding:1rem;margin-bottom: 1rem;">
                    <h3 class=" text-center ">Commentaire<span *ngIf="comments.length>1">s</span></h3>

                    <div *ngFor="let c of comments" class="p-3">
                        <div *ngIf="c.author">

                            <div *ngIf="!c.blocked">
                                <p>De <strong>{{c.author.firstName}} {{c.author.lastName | slice:0:1}}.</strong> le
                                    {{c.createdAt | date:("dd/MM/yyyy à HH:mm")}} </p>
                                <p class="ml-2">{{c.content }}</p>
                                <button class="btn btn-sm text-danger col-6" style="font-size: .8rem;"
                                    *ngIf="auth.hasRole('ROLE_MODERATOR') || auth.hasRole('ROLE_ADMIN')|| (auth.user.id===article.author.id&&auth.user.id!==c.author.id)"
                                    (click)="handleBlockComment(c)">Bloquer
                                    le
                                    commentaire</button>
                                <button class="btn btn-sm text-primary col-6" *ngIf=" auth.user.id===c.author.id"
                                    style="font-size: .8rem;" (click)="handleDeleteComment(c)">Supprimer le
                                    commentaire</button>

                            </div>


                            <div *ngIf="c.blocked">

                                <p>De <strong>*************</strong> le
                                    *********** </p>
                                <p class="ml-2">
                                    <strong>
                                        Contenu Bloqué
                                    </strong>
                                </p>

                            </div>

                        </div>
                        <hr>
                    </div>

                </div>
                <form [formGroup]=form (ngSubmit)='handleSubmitComment()'>
                    <div class="form-group"><input type="text" class="form-control" formControlName="content"
                            placeholder="Votre reaction"
                            [class.is-invalid]="submitted&&form.controls['content'].invalid">
                        <p class="invalid-feedback">
                            {{form.controls['content'].getError('invalid')}}
                        </p>
                    </div>
                    <button class="btn text-success" type="submit">Valider</button>
                </form>
            </div>

        </div>
    </div>
</article>

<div class="text-center text-primary m-3" *ngIf="!article">
    Chargement de l'article en cours ...
    <div class="spinner-border text-primary " role="status">
    </div>
</div>