<div *ngIf="article" id="main">

    <h1 class="text-center mb-5">{{article.title | uppercase}}</h1>

    <div class=" mb-5">

        <p class=" mb-2">De <strong>{{article.author.firstName}} {{article.author.lastName | slice:0:1}}.</strong> le
            {{article.updatedAt | date:("dd/MM/yyyy")}}
        </p>

        <p [innerHTML]="article.content">
        </p>
        <button class="btn btn-sm btn-danger" *ngIf="auth.isModeratorOrAdmin || auth.user.id===article.author.id"
            (click)="handleDelete()">Supprimer
            l'article</button>

        <a class="btn btn-sm btn-primary" *ngIf="auth.user.id===article.author.id || auth.isModeratorOrAdmin"
            routerLink="/article/edit/{{article.id}}">Modifier
            l'article</a>
        <a href=""></a>
        <hr>
    </div>

    <div *ngIf=" !auth.hasRole('ROLE_SCHOOL')">
        <h3 class="mb-5 text-center">Commentaires</h3>
        <div *ngFor="let c of comments" class="mb-5x² p-3">
            <div *ngIf="!c.blocked">

                <p>De <strong>{{c.author.firstName}} {{c.author.lastName | slice:0:1}}.</strong> le
                    {{c.createdAt | date:("dd/MM/yyyy à HH:mm")}} </p>
                <p class="ml-2">{{c.content }}</p>
                <button class="btn btn-sm btn-danger"
                    *ngIf="auth.hasRole('ROLE_MODERATOR') || auth.hasRole('ROLE_ADMIN')|| (auth.user.id===article.author.id&&auth.user.id!==c.author.id)"
                    (click)="handleBlockComment(c)">Bloquer
                    le
                    commentaire</button>
                <button class="btn btn-sm btn-primary" *ngIf="auth.user.id===c.author.id"
                    (click)="handleDeleteComment(c)">Supprimer le commentaire</button>
            </div>


            <div *ngIf="c.blocked">

                <p>De <strong>*************</strong> le
                    *********** </p>
                <p class="ml-2">
                    <strong>
                        Contenu Bloqué
                    </strong>
                </p>

            </div>

        </div>
        <hr>
        <h3>Réagir</h3>
        <form [formGroup]=form (ngSubmit)='handleSubmitComment()'>

            <div class="form-group"><input type="text" class="form-control" formControlName="content"
                    placeholder="Votre reaction" [class.is-invalid]="submitted&&form.controls['content'].invalid">
                <p class="invalid-feedback">
                    {{form.controls['content'].getError('invalid')}}
                </p>
            </div>
            <button type="submit">Valider</button>
        </form>
    </div>
</div>
<div class="spinner-border text-primary" role="status" *ngIf="!article">
    <span class="sr-only">Loading...</span>
</div>