<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/theme/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Nous contacter</h1>
                    <span class="subheading">Vos questions ? Vos remarques ? ...</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Vous souhaitez nous contacter? Remplissez le formulaire ci-dessous pour m'envoyer un message et nous vous
                répondrons dans les plus brefs délais
                possible!</p>




            <div class="container">
                <div class="control-group">



                    <form [formGroup]=form (ngSubmit)='handleSubmit()'>

                        <div class="form-group floating-label-form-group controls"><input type="text"
                                class="form-control" formControlName="title" placeholder="Sujet"
                                [class.is-invalid]="submitted&&form.controls['title'].invalid">
                            <p class="invalid-feedback">
                                {{form.controls['title'].getError('invalid')}}
                            </p>
                        </div>

                        <div class="form-group floating-label-form-group controls">
                            <textarea class="form-control mb-2" rows="15"
                                placeholder="Vos questions ? Vos remarques ? ..." formControlName="content"></textarea>
                            <button type="submit" class="btn text-success    ">Envoyez</button>
                        </div>
                    </form>
                    <div *ngIf="sent">Votre message a bien été envoyé </div>

                </div>
            </div>
        </div>
    </div>
</div>