<h1>Modifier un Article</h1>

<div *ngIf="article && (auth.isModeratorOrAdmin || auth.user.id===article.author.id)" id="main">


    <form [formGroup]=form (ngSubmit)='handleSubmit()'>

        <div class="form-group"><input type="text" class="form-control" formControlName="title"
                placeholder="Titre de l'article" [class.is-invalid]="submitted&&form.controls['title'].invalid">
            <p class="invalid-feedback">
            </p>
        </div>
        <div class="form-group">

            <p class="invalid-feedback">
            </p>
        </div>
        <select id="customer" class="form-control" formControlName="category"
            [class.is-invalid]="submitted&&form.controls['category'].hasError('required')">
            <option *ngFor="let c of categories$ | async" value="/api/categories/{{c.id}}">{{ c.title |uppercase }}
            </option>

        </select>
        <editor *ngIf="auth.user.id===article.author.id" class="form-control" style="height:auto"
            formControlName="content" apiKey="jwifx6cyqjsshd8l1nxakb6hbbvlisgj6ngqgvw0aiyc15lr" [init]="{
                language: 'fr_FR',
        skin: 'borderless',
        plugins: 'wordcount',
        menubar: false
    }"></editor>
        <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
</div>