<header class="masthead"
    style="background-image: url('assets/own-img/police-fun-funny-uniform-33598.jpg'); background-position: top;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Espace modérateur
                    </h1>
                    <span class="subheading">Retrouvez tous les commentaires que vous avez bloqués</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">



    <table class="table">

        <thead>

            <th class="post-preview">
                De</th>
            <th>Commentaire</th>
            <th class="post-preview text-center">
                Article concerné</th>
            <th class="post-preview text-center">
                Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let bc of blockedComments">
                <td>{{bc.author.firstName}} {{bc.author.lastName}}</td>
                <td>{{bc.content}}</td>
                <td><a routerLink="/article/{{bc.article.id}}"> {{bc.article.title}}</a></td>
                <td>
                    <button class="btn btn-sm text-success" (click)="handleUnblock(bc.id)">débloquer </button>
                    <button class="btn btn-sm text-danger" *ngIf="auth.isModeratorOrAdmin"
                        (click)="handleDelete(bc.id)">supprimer
                    </button>


                </td>

            </tr>
        </tbody>
    </table>
</div>